<ul id='chunk-feed-container' style="list-style: none">
  <li data-controller="active-chunk" id="active-chunk" class="chunk active-chunk">
    <div>Chunk in Progress</div>
    <div>Completion at: <%= @chunk_feed.head.completion_at %></div>

    <div>
      <span>Title: </span>
      <span><%= chunk.title %></span>
    </div>

    <div>
      <span>Started at: </span>
      <span><%= chunk.created_at %></span>
    </div>

    <div>
      <span>Duration: </span>
      <span><%= chunk.duration %></span>
    </div>
  </li>

  <% current_user.chunk_feed.sorted.each do |chunk| %>
    <%= render partial: './chunks/show', locals: { chunk: chunk } %>
  <% end %>
<ul>
