 <li data-controller="active-chunk" id="active-chunk" class="chunk active-chunk <%= cssClass %>">
    <div>
      <h3 data-target="active-chunk.status">Chunk in Progress</h3>
      <span data-target="active-chunk.completion-at">Completion at: <%= @chunk_feed.head.completion_at %></span>
    </div>

    <div>
      <span>Title: </span>
      <span data-target="active-chunk.title"><%= chunk.title %></span>
    </div>

    <div>
      <span>Started at: </span>
      <span data-target="active-chunk.started-at"><%= chunk.created_at %></span>
    </div>

    <div>
      <span>Duration: </span>
      <span data-target="active-chunk-duration"><%= chunk.duration %></span>
    </div>
  </li>
