<section>
  <% if current_user.chunking? %>
    <% user_status = "block" %>
    <% new_chunk = "none" %>
  <% else %>
    <% user_status = "none" %>
    <% new_chunk = "block" %>
  <% end %>

  <h3 data-target="chunk-feed.userStatus" style='display: <%= user_status %>'>You are currently chunking</h3>

  <div data-target="chunk-feed.newChunk" style='display: <%= new_chunk %>'>
    <%= form_for @chunk, url: { controller: "chunks", action: "create" },
                        html: { onsubmit: "this.submit(); this.reset();" },
                        data: { remote: true } do |f| %>

      <%= label_tag(:title, "Title") %>
      <%= text_field_tag(:title, nil, { id: "title",
                                        data: { target: "chunk-feed.title" } }) %>

      <%= label_tag(:duration, "How long will the chunk be?") %>
      <%= number_field_tag(:duration, nil, { step: 1,
                                        data: { target: "chunk-feed.duration" } }) %>

      <%= hidden_field_tag(:chunk_feed_id, current_user.chunk_feed.id) %>

      <%= f.submit "Create Chunk", data: { action: "chunk-feed#create" } %>
    </div>
  <% end %>
</section>
