<h1><<%= @room.name %></h1>

<h3 id="room_id">Room: <%= @room.name %></h3>

<div class="chat" data-channel-subscribe="room" id="room-container">
  <% @room_messages.each do |room_message| %>
    <div id="msg-<%= room_message.id %>"><%= room_message.message %></div>
  <% end %>
</div>

<div style="margin-top: 2em">
  <%= form_for @room_message, :url => { controller: "room_messages", action: "create"}, :data => { :remote => true } do |f| %>
    <%= label_tag(:message, "Message") %>
    <%= text_field_tag(:message) %>
    <%= hidden_field_tag(:room_id, @room.id) %>
    <%= f.submit "Send Message" %>
  <% end %>
</div>
